<nav>
  <a [routerLink]="['/vat']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">btw</a>
  <a [routerLink]="['/cost']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Kost</a>
  <a [routerLink]="['/match']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Match</a>
  <a [routerLink]="['/book']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Boekwaardes</a>
  <a [routerLink]="['/activum']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Activa</a>
  <a [routerLink]="['/customer']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Klanten</a>
  <a [routerLink]="['/project']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Projecten</a>
  <a [routerLink]="['/invoice']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Facturen</a>
  <a [routerLink]="['/fiscal-overview']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Fiscaal overzicht</a>
</nav>