<nav>
  <a [routerLink]="['/vat']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">btw</a>
  <a [routerLink]="['/cost']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Kost</a>
  <a [routerLink]="['/match']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Match</a>
  <a [routerLink]="['/book']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Boekwaardes</a>
  <a [routerLink]="['/activum']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Activa</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Over</a>
</nav>
