<h1>Registreren</h1>
<div class="jumbotron center-block">
  Hier kunt u zich aanmelden voor de clouddienst van TechyTax.
  <ul>
    <li>Na aanmelding heeft u een gratis proefperiode die loopt t/m: <b>{{trialPeriodEndDate}}</b></li>
    <li>Na de gratis proefperiode is de prijs per maand: <b>€ 8,33</b>, exclusief btw</li>
    <li>U kunt altijd direct opzeggen door uw account te verwijderen</li>
  </ul>
  Voordat u zich kunt aanmelden, dient u eerst de Algemene Voorwaarden te accepteren door het onderstaande hokje aan te vinken.
  <div class="checkbox">
    <input type="checkbox" [ngModel]="acceptedTermsAndConditions" (change)="acceptedTermsAndConditions = !acceptedTermsAndConditions">Ik accepteer de <button (click)="showTermsAndConditions()">Algemene Voorwaarden</button>
  </div>
  <div *ngIf="acceptedTermsAndConditions">
    <form (ngSubmit)="onSubmit(registrationForm.value)" #registrationForm="ngForm">
      <div class="form-group">
        <label>KvK nummer:</label>
        <input [(ngModel)]="registration.companyData.chamberOfCommerceNumber"
               class="form-control"
               required
               name="kvk"
               #kvk="ngModel"
               pattern="\d{8}"
               placeholder="KvK nummer">
        <div *ngIf="kvk.errors && (kvk.dirty || kvk.touched)"
             class="alert alert-danger">
          <div [hidden]="!kvk.errors.required">
            KvK nummer is verplicht, het wordt op de factuur vermeld
          </div>
          <div [hidden]="!kvk.errors.pattern">
            KvK nummer bestaat uit 8 cijfers
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Gebruikersnaam:</label>
        <input [(ngModel)]="registration.user"
               class="form-control"
               name="username"
               placeholder="Gebruikersnaam">
      </div>
      <div class="form-group">
        <label>Wachtwoord:</label>
        <input type="password"
               [(ngModel)]="registration.password"
               class="form-control"
               name="password"
               placeholder="Wachtwoord">
      </div>
      <div class="form-group">
        <label>Voorletters:</label>
        <input [(ngModel)]="registration.personalData.initials"
               class="form-control"
               required
               name="initials"
               #initials="ngModel"
               pattern="[a-zA-Z]+"
               placeholder="Voorletters">
        <div *ngIf="initials.errors && (initials.dirty || initials.touched)"
             class="alert alert-danger">
          <div [hidden]="!initials.errors.required">
            Initialen is verplicht
          </div>
          <div [hidden]="!initials.errors.pattern">
            Initialen moet minstens uit 1 letter bestaan
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Tussenvoegsel(s):</label>
        <input [(ngModel)]="registration.personalData.prefix"
               class="form-control"
               name="prefix"
               placeholder="Tussenvoegsel(s)">
      </div>
      <div class="form-group">
        <label>Achternaam:</label>
        <input [(ngModel)]="registration.personalData.surname"
               class="form-control"
               required
               name="surname"
               #surname="ngModel"
               pattern="[a-zA-Z][a-zA-Z]+"
               placeholder="Achternaam">
        <div *ngIf="surname.errors && (surname.dirty || surname.touched)"
             class="alert alert-danger">
          <div [hidden]="!surname.errors.required">
            Achternaam is verplicht
          </div>
          <div [hidden]="!surname.errors.pattern">
            Achternaam moet minstens uit 2 letters bestaan
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Email:</label>
        <input type="email"
               [(ngModel)]="registration.personalData.email"
               class="form-control"
               required
               name="email"
               #email="ngModel"
               pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
               placeholder="Email">
        <div *ngIf="email.errors && (email.dirty || email.touched)"
             class="alert alert-danger">
          <div [hidden]="!email.errors.required">
            Email is verplicht
          </div>
          <div [hidden]="!email.errors.pattern">
            Email is niet correct
          </div>
        </div>
      </div>
      <button type="submit" [disabled]="!registrationForm.valid" (click)="register()">Registreren</button>
    </form>
  </div>
  <button type="button" (click)="cancel()" class="btn">Annuleren</button>
  <p>Deze online dienst wordt aangeboden door de eenmanszaak Beemsterboer Software, welke sinds 2006 is ingeschreven bij de Kamer van Koophandel te Utrecht onder nummer 30216247. Het btw nummer is NL174006275B01.</p>
</div>

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="modal-title">Algemene Voorwaarden</h1>
        <div class="margins">
          <table>
            <tbody><tr><td valign="top" width="700px">
              <h4>Art. 1: Definities</h4>
              <dl>
                <dt>Leverancier</dt>
                <dd>De eenmanszaak Beemsterboer Software, ingeschreven bij de Kamer van
                  Koophandel te Utrecht onder nummer 30216247.</dd>
                <dt>TechyTax</dt>
                <dd>Een online boekhoudpakket voor kleine bedrijven, dat als open source project beschikbaar is op de website GitHub: https://github.com/beemsoft/techytax.</dd>
                <dt>Clouddienst</dt>
                <dd>Het tegen betaling aanbieden van TechyTax op de website http://www.techytax.org.</dd>
                <dt>Klant</dt>
                <dd>De partij die zich geregistreerd heeft voor de Clouddienst. Registratie voor de Clouddienst kan gedaan worden op de website http://www.techytax.org.</dd>
                <dt>Overeenkomst</dt>
                <dd>De overeenkomst tussen Leverancier en Klant op grond waarvan Leverancier de Clouddienst aan Klant ter beschikking stelt, en waarop deze Algemene Voorwaarden van toepassing zijn.</dd>
              </dl>
              <h4>Art. 2: Totstandkoming Overeenkomst</h4>
              <ol>
                <li>Een Overeenkomst komt tot stand door een online registratie voor TechyTax, waarbij deze Algemene Voorwaarden geaccepteerd worden.</li>
              </ol>
              <h4>Art. 3: Prijs en Betaling</h4>
              <ol>
                <li>Bij aanvang van de Clouddienst heeft Klant recht op een gratis proefperiode. Deze periode duurt vanaf het moment van registreren tot en met de eerste maand van het volgende kwartaal.</li>
                <li>Na de proefperiode ontvangt Klant per kwartaal een elektronische factuur.</li>
                <li>De betalingstermijn voor de factuur is dertig dagen.</li>
                <li>Alle prijzen zijn exclusief omzetbelasting (btw).</li>
                <li>Indien de betaling niet op tijd is ontvangen, behoudt Leverancier zich het recht voor om de gebruikersrechten van Klant te beperken.</li>
                <li>Leverancier heeft het recht de tarieven te wijzigen. Deze wijzigingen worden uiterlijk drie maanden voordat deze ingaan aan Klant bekend gemaakt.</li>
              </ol>
              <h4>Art. 4: Opslag van klantgegevens</h4>
              <ol>
                <li>Leverancier behoudt zich het recht voor om klantgegevens die ouder dan zeven jaar zijn te verwijderen. Er geldt dan immers geen bewaarplicht
                  meer voor de Belastingdienst.
                </li>
                <li>
                  Indien Klant haar account verwijderd, worden alle gegevens van Klant direct uit TechyTax verwijderd.
                </li>
              </ol>
              <h4 id="hosting">Art. 5: Uitvoering clouddienst</h4>
              <ol>
                <li>Leverancier zal zich inspannen om de overeengekomen Clouddienst steeds naar behoren te doen functioneren en streeft naar een zo hoog mogelijke
                  beschikbaarheid, kwaliteit en beveiliging van de Clouddienst. Leverancier behoudt zich het recht voor om de technische en functionele
                  eigenschappen van de Clouddienst tussentijds te wijzigen om deze te verbeteren en om eventuele fouten te herstellen of om te voldoen aan de
                  toepasselijke wet- en regelgeving. Indien een dergelijke aanpassing leidt tot een materiële afwijking in de functionaliteit van de Clouddienst,
                  zal Leverancier Klant daarvan voordat de aanpassing beschikbaar komt, elektronisch op de hoogte stellen.</li>
              </ol>
              <h4>Art. 6: Beveiliging, privacy</h4>
              <ol>
                <li>Leverancier voldoet aan de verplichtingen die uit hoofde van de wetgeving betreffende de verwerking van
                  persoonsgegevens als bewerker op hem rusten. Leverancier zal zorgdragen voor passende technische
                  maatregelen om (persoons)gegevens te beveiligen tegen verlies of tegen enige
                  vorm van onrechtmatige verwerking.</li>
              </ol>
              <h4>Art. 7: Duur en beëindiging</h4>
              <ol>
                <li>De Overeenkomst wordt aangegaan voor onbepaalde tijd.</li>
                <li>Klant kan de overeenkomst per direct opzeggen door haar account te verwijderen.</li>
                <li>Leverancier behoudt zich het recht voor de dienstverlening te onderbreken of te beëindigen bij onrechtmatig gebruik of (poging tot) misbruik van TechyTax.</li>
              </ol>
              <h4>Art. 8: Aansprakelijkheid</h4>
              <ol>
                <li>Leverancier is niet aansprakelijk voor fouten in TechyTax.</li>
                <li>Leverancier is niet aansprakelijk voor de kwaliteit en de conditie van de door Klant gebruikte hard- en software (pc, besturingssysteem, etc.) alsook de internetverbinding van Klant.</li>
                <li>Leverancier is niet aansprakelijk voor indirecte schade, waaronder begrepen gevolgschade, gederfde winst,
                  voorziene winst, gederfde inkomsten, gemiste besparingen, voorziene besparingen, schade door bedrijfsstagnatie, schade door verlies
                  aan goodwill en reputatie, vermissing, verwisseling of beschadiging van elektronische gegevens of enige andere schade.</li>
              </ol>
              <h4>Art. 9: Overmacht</h4>
              <ol>
                <li>In geval van overmacht, vervalt de verplichting van Leverancier tot nakoming van de Overeenkomst. Leverancier is dan geen schadevergoeding verschuldigd.
                  De opschorting geldt voor de duur van de overmacht.</li>
                <li>Gevallen van overmacht kunnen zijn tekortkomingen in de nakoming door Leverancier als gevolg van uitval van stroomvoorziening aan zijn zijde en tekortkomingen in het netwerk van een derde.</li>
              </ol>
              <h4>Art. 10: Wijziging van de voorwaarden</h4>
              <ol>
                <li>Leverancier behoudt zich het recht voor deze voorwaarden te wijzigen of aan te vullen.</li>
                <li>Wijzigingen gelden ook ten aanzien van reeds gesloten overeenkomsten met inachtneming van een termijn van dertig dagen na bekendmaking van de wijziging per e-mail.</li>
              </ol>
              <h4>Art. 11:  Geschillenregeling en toepasselijk recht</h4>
              <ol>
                <li>Indien enige bepaling van deze algemene voorwaarden nietig is of vernietigd wordt, zullen de overige bepalingen
                  van deze algemene voorwaarden volledig van kracht blijven.</li>
                <li>Op de Overeenkomst is uitsluitend Nederlands recht van toepassing.</li>
              </ol>
            </td>
            </tr>
            </tbody></table>
        </div>
      </div>
      <div class="modal-body">
        <button type="button" (click)="hideChildModal()">Niet akkoord</button>
        <button type="button" (click)="accept()">Akkoord</button>
      </div>
    </div>
  </div>
</div>
