<a href="mailto:techytax@gmail.com?subject=Vraag over TechyTax" target="_blank"><img src="assets/png/gmail-icon-38470.png" style="width: 270px; padding: 8px"></a>
<a href="https://techytax.slack.com" target="_blank"><img src="assets/png/slack.png" style="background-color: white; padding: 8px"></a>
<a href="https://www.linkedin.com/groups/8238876" target="_blank"><img src="assets/png/linked-in.png" style="padding: 8px"></a>
<a href="https://github.com/beemsoft/techytax-ngx" target="_blank"><img src="assets/png/GitHub_Logo.png" style="width: 270px; padding: 8px"></a>
