<p>TechyTax is een boekhoudpakket voor kleine bedrijven (eenmanszaak, zzp, vof). Het berekent de btw en geeft fiscale overzichten. Hiervoor is geen boekhoudkundige kennis vereist. Het doel van dit project is om, m.b.v. de laatste technieken, de belastingaangifte zo simpel mogelijk te maken.</p>
<p>Vragen: <a href="mailto:techytax@gmail.com?subject=Vraag over TechyTax">Mail TechyTax</a></p>
Links:
<ul>
<li><a href="https://www.linkedin.com/groups/8238876" target="_blank">LinkedIn groep</a></li>
<li><a href="https://github.com/beemsoft/techytax-ng2" target="_blank">GitHub frontend code (Angular 2)</a></li>
<li><a href="https://github.com/beemsoft/techytax-backend" target="_blank">GitHub backend code (Java)</a></li>
</ul>