<input *ngIf="config.filtering" placeholder="Zoekfilter (hoofdlettergevoelig)"
       [ngTableFiltering]="config.filtering"
       (tableChanged)="onChangeTable(config)"/>

<ng-table [config]="config.sorting"
          (tableChanged)="onChangeTable(config)"
          (cellClicked)="onCellClick($event)"
          [rows]="rows" [columns]="columns">
</ng-table>
<!-- changed to one-way-binding for the ngModel, see: http://stackoverflow.com/questions/34496514/ngmodel-no-value-accessor-for -->
<pagination *ngIf="config.paging"
            class="pagination-sm"
            (ngModel)="page"
            [totalItems]="length"
            [itemsPerPage]="itemsPerPage"
            [maxSize]="maxSize"
            [boundaryLinks]="true"
            [rotate]="false"
            (pageChanged)="onChangeTable(config, $event)"
            (numPages)="numPages = $event">
</pagination>
<pre *ngIf="config.paging" class="card card-block card-header">Page:  / </pre>

<modal #myModal
       title="Factuur wijzigen / verwijderen"
       cancelButtonLabel="Terug"
       modalClass="modal-lg modal-sm any-other-css-class"
       [hideCloseButton]="false"
       [closeOnEscape]="true"
       [closeOnOutsideClick]="true">
  <modal-content>
    <input [(ngModel)]="selectedInvoice.invoiceNumber" placeholder="Factuurnummer">
    <input [(ngModel)]="selectedInvoice.month" placeholder="Maand">
    <input [(ngModel)]="selectedInvoice.unitsOfWork" placeholder="Aantal uren">
    <input [(ngModel)]="selectedInvoice.sent" placeholder="Datum verstuurd">
    <button type="button" (click)="deleteInvoice()">Verwijder</button>
    <button type="button" (click)="updateInvoice()">Wijzig</button>
    <button type="button" (click)="createInvoicePdf()">Maak PDF</button>
    <div class="textarea-btn-holder form-group form-group-replace">
      <textarea autoGrow class="form-control text-comment" placeholder="HTML tekst"
                name="description" [(ngModel)]="htmlText" ></textarea>
    </div>
    <div [innerHTML]="htmlText">
    </div>
    <button *ngIf="!selectedInvoice.sent" type="button" (click)="sendInvoice()">Verstuur factuur naar {{selectedInvoice.project.customer.emailInvoice}}</button>
    <button *ngIf="!!selectedInvoice.sent" type="button" (click)="sendReminder()">Verstuur herinnering naar {{selectedInvoice.project.customer.emailInvoice}}</button>
    <pdf-viewer [src]="pdfSrc"
                [page]="page"
                [original-size]="true"
                style="display: block;"
    ></pdf-viewer>
  </modal-content>
</modal>
