<div class="login jumbotron center-block" *ngIf="!loggedIn">
  <h1>Login</h1>
  <form role="form" (submit)="login($event, username.value, password.value)">
    <div class="form-group">
      <label for="username">Gebruikersnaam</label>
      <input type="text" #username class="form-control" id="username" placeholder="Gebruikersnaam">
    </div>
    <div class="form-group">
      <label for="password">Wachtwoord</label>
      <input type="password" #password class="form-control" id="password" placeholder="Wachtwoord">
    </div>
    <button type="submit" class="btn btn-default">Verstuur</button>
    <button type="button" (click)="register()" class="btn">Registreren</button>
  </form>
</div>
<div *ngIf="loggedIn">
  <button type="button" (click)="logout()" class="btn toolbar-button">Uitloggen</button>
  <button type="button" (click)="editRegistration()" class="btn toolbar-button">Gegevens wijzigen</button>
  <button type="button" (click)="deleteRegistration()" class="btn toolbar-button">Account verwijderen</button>
  <sd-navbar></sd-navbar>
</div>
